footer {
  border-top: 1px solid #eaeaea;
  color: #455573;
  padding: 40px 30px;
  margin: 0;
}
footer img {
  display: block;
  width: 90px;
  margin-bottom: 10px;
}

footer .flex_container {
  display: flex;
  justify-content: space-between;
}

.footer_1 p {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}
.footer_1 span {
  font-size: 11px;
  margin: 0;
  color: #8c9cba;
}

.footer_2 {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}
.footer_2 ul li {
  display: inline-block;
  margin-right: 8px;
}
.footer_2 ul li:last-child {
  padding-left: 8px;
  border-left: 1.3px solid #667ba3;
}

.footer_2 a {
  color: #667ba3;
  text-decoration: none;
}

.footer_3 {
  font-size: 12px;
}

.footer_3 .address {
  display: block;
  margin-top: 7px;
}
